

@mixin cajas {
  background-color: rgb(248, 253, 254);
  font-family: 'Dosis', sans-serif;
  
}

//DISENIOS//

.container{ 
    
    .row{
         
             
         .mov1{
              font-size: x-large;
              padding: 1.5rem;
              @include cajas
             
         }
     }
            
            
    }
 
      
  .container{ 
    
    .row{
                     
         .mov2{
          padding: 0.5rem;
          @include cajas
              
         }
               
    }
  }  
  
  .container{ 
    
    .row{
                     
         .mov3{
          font-family: 'Mali', cursive;;
          font-size: larger;
          text-align: center;
              
         }
               
    }
  }  
  

//TEXTURAS//

.container{
  .mosaicos{
    font-size: large;
  }
}  



    

